<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "КУПИ.in.ua", root_path, class: "navbar-brand" %>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        
        <li <%= put_active_class('stores').html_safe %> >
          <%= link_to "Stores", stores_path %>
        </li>


      </ul>
    <div class="login col-xs-4 col-xs-offset-8 login_form">
      <% if user_signed_in? %>
        <span> Hello, <span><%= current_user.email %></span></span>
        <%= link_to 'Exit', destroy_user_session_path, :method =>  :delete %>
        <% else %>
        <%= link_to 'Sign in', new_user_session_path %>
      /
        <%= link_to 'Sign up', new_user_registration_path %>
      <% end %>
    </div>
    </nav>
  </div>
</header>
