<div class="container">

  <header id="header">
    <div class="row">
      <div class="col-xs-12">
          <div class="logo">
          <%= image_tag("logo.png", :alt => "rss feed") %>
          </div>
          <div id="tagline">
            <h1>~купи<span> in.ua</span>~</h1>
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                  <input type="email" class="form-control" id="searchFor" placeholder="Search for i.e: shoes Lviv..">
                </div>
              </div>
            </form>
            <div class="searching">
              <button class="search" >
                Search
              </button>
            </div>
            <div class="col-xs-10 col-xs-offset-1">
              <div id="map" style="width: 800px; height: 400px;"></div>
              <div class="for_bg_color">
                <div class="bg_color"></div>
              </div>
            </div>
        </div><!-- end of tagline section -->
      </div><!--end of col-12 div-->
    </div> <!--end of row-->
  </header> <!--end of id="header"-->

  	<section id="search-result" class="col-md-12">
  		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
					<h2>Founded Stores:</h2>
			</div>
		</div>
    <div class="row">
        <div class="col-xs-12">
          <% @stores.each do |store| %>
            <div class="col-xs-2">
              <div class="result-item">
                <div class="searchpage-stores">
                  <h4><%= store.name %></h4>
                  <h5><%= store.adress %></h5>
                  <p><%= link_to "view", "/stores/#{store.id}", class: "btn btn-default btn-xs"  %></p>

                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  	</section>
  	<section id="product-list" class="col-md-12">
  		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
					<h2>Founded products items:</h2>
			</div>
  		</div>
  		<div class="row">
  			<div class="col-xs-12">
  				<% @products.each do |item| %>
  					<div class="col-xs-2">
  						<div class="result-item">
  							<%= image_tag(item.image_url, class: 'img-circle') %>
  							<div class="searchpage-products">
  								<h4><%= item.name %></h4>
  								<span style="text-align: right; color: #e74c3c">$<%= item.price %></span>
                  <p class="button-view"><%= link_to "view", "/products/#{item.id}", class: "btn btn-default btn-xs" %></p>
  							</div>
  						</div>
  					</div>
  				<% end %>
  			</div>
  		</div>
  	</section>
    <%= render :partial => 'main/testimonials' %>
</div> <!--end of row-->