

  <!-- end of tagline section -->
  <div class="row">
    <div class="col-xs-12 shop">
        <div class="store-name-bg">
            <h1><%= @store.name %></h1>
        </div>
        <div class="slick-slider">
            <div class="slick-slider">
                
            </div>
        </div>  
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 shop">
      
      <div id="description">
      <h3>About Our store:</h3>
      <p><%= @store.description %></p>
      </div>

      
      <div class="products" id="product-list">

            <h3>Our products</h3>
          <% @store.products.each do |item| %>
            <div class="col-xs-3">
              <div class="result-item">
                <%= image_tag(item.image_url, class: 'img-circle') %>
                <div class="searchpage-products">
                  <h4><%= item.name %></h4>
                  <span style="text-align: right; color: #e74c3c">$<%= item.price %></span>

                  <p class="button-view"><%= link_to "view", "/products/#{item.id}", class: "btn btn-default btn-xs" %></p>
                </div>
              </div>
            </div>
          <% end %>

      
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <div id="contacts">
      <h3>Contacts</h3>
      </div>
      
<!--       <div class="for_bg_color">
            <div class="bg_color"></div>
      </div> -->
      <%= render :partial => 'accordion' %>


      <div id="contact-block">
        <p><strong>Adress: </strong><%= @store.adress %></p>
        <p><strong>Tel.: </strong><%= @store.telephone %></p>
        <p><strong>Mail: </strong><%= @store.mail %></p>
        <p><strong>Contact person: </strong><%= @store.contact_person %></p>
      </div>
    </div>
  </div>





<%= link_to 'Edit', edit_store_path(@store), class: "btn btn-warning btn-xs" %> 
<%= link_to 'Back', stores_path, class: "btn btn-danger btn-xs" %>

