

  <!-- end of tagline section -->
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 shop">
      <h1><%= @store.name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 shop">
      
      <p id="description"><%= @store.description %></p>
      <h3>Our products</h3>
      <div class="row products" id="shop-prod-show">


          <% @products.each do |item| %>
            <div class="col-xs-3">
              <div class="result-item">
                <%= image_tag(item.image_url, class: 'img-circle') %>
                <div class="searchpage-products">
                  <h4><%= item.name %></h4>
                  <span style="text-align: right; color: #e74c3c">$<%= item.price %></span>
                  <p><%= link_to "view", "/products/#{item.id}", class: "view-item" %></p>
                </div>
              </div>
            </div>
          <% end %>

      
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <div id="contacts"><h3>Contacts</h3></div>
      <div id="map"><p>Our Map</p></div>
      <div class="for_bg_color">
                <div class="bg_color"></div>
              </div>
      <div id="contact-block">
        <p><strong>Adress: </strong><%= @store.adress %></p>
        <p><strong>Tel.: </strong><%= @store.telephone %></p>
        <p><strong>Mail: </strong><%= @store.mail %></p>
        <p><strong>Contact person: </strong><%= @store.contact_person %></p>
      </div>
    </div>
  </div>





<%= link_to 'Edit', edit_store_path(@store) %> 
<%= link_to 'Back', stores_path %>

