<h1>All products from database</h1>

<% if @products.empty? %>
<b>Products not found</b>
<% else %>
<div class="col-lg-12">
<table class="table">
  <tr>
    <th>img:</th>
    <th>Id:</th>
    <th>Name:</th>
    <th>Price:</th>
    <th></th>
  </tr>
  <% @products.each do |product|  %>
  <tr>
    <td><%= image_tag ("#{product.image}"), :class => 'img-circle img-thumb' %></td>
    <td><%= product.id %></td>
    <td><%= link_to("#{product.name}") %></td>
    <td><%= product.price %></td>
    <td><%= link_to "Show", :action => 'show', :id => product.id %></td>
    <td><%= link_to "Edit", edit_product_path(product.id) %></td>
    <td><%= link_to "Delete", product, method: :delete, data: { confirm: "Delete? Are you shure? " } %></td>
  </tr>
  <% end %>
</table>
</div>
<%= link_to "New item", new_product_path %>
<% end %>
