

<!-- <div class="modal-fixed">
      <span class="modal-head">
        <p>Надіслати повідомлення</p><span class="vertical-line"></span>
        <button type="button" class="close" aria-hidden="true">&times;</button>
      </span>
      <div class="modal-body">
        <p class="text-muted">Ми не в мережі. Будь ласка, залиште свої контакти і ваше питання, ми з вами зв'яжемося!</p>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Name">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
              <input type="email" class="form-control" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Phone">
            </div>
          </div>
        </form>

      </div >
      
</div> -->


       <ol class="breadcrumb">
         <li><%= link_to "store", stores_path(@stores)%></li>
         <li><%= @product.name %></li>
       </ol>

        <!-- TOP CONTENT WITH BIG IMAGE AND SOME INFORM. -->
    <div class="item-title">
    <h1><%= @product.name %></h1>
      <div class="row top-content">

        <!-- First block -->
         <div class="col-sm-12 col-md-12 col-lg-8">
            <div class="col-xs-6">
               <div class="thumbnail">
                <%= image_tag(@product.image_url, :id => 'photo_large') %>

                  <div class="caption">
                     <a href="#" class="thumbnail">
                      <%= image_tag(@product.image_url, :id => 'photo_large') %>
                     </a>
                     <a href="#" class="thumbnail">
                      <%= image_tag(@product.image_url, :id => 'photo_large') %>
                     </a>

                     <a href="#" class="thumbnail">
                      <%= image_tag(@product.image_url, :id => 'photo_large') %>
                     </a>
                     <a href="#" class="thumbnail">
                      <%= image_tag(@product.image_url, :id => 'photo_large') %>
                     </a>
                 </div> 
               </div>
            </div>
            <div class="item-description col-lg-6">
               <p class="text-muted">Item SKU: <strong><%= @product.id %></strong></p>
               <h2>Product description</h2>
               <div class="well well-sm">
                  <%= @product.side_description %>
               </div>

               <div id="price" class="row">
                 <div class="col-sm-6 col-md-6 col-lg-6">
                   <p>
                     <h5>Price:</h5>
                     <h4 class="price">* <%= @product.price %>$</h4>&nbsp;<br/>
                     <a  href="#priceReduction" data-toggle="modal">Get notification about sale!</a>
                   </p>
                   <img src="http://common-lisp.net/project/adw-charting/star-rating.png" width="160" height="25" alt="">

                   <!--Modal -->
                   <div class="modal fade" id="priceReduction" tabIndex="-1" role="dialog" aria-hidden="true">
                     <div class="modal-dialog">
                        <div class="modal-content">
                           <!--  <div class="modal-header">
                              </div> -->
                           <div class="modal-body">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4>Get notification about sale</h4>
                              <p>Your email&nbsp;<span class="red-text">*</span></p>
                              <form action="index.php" method="get">
                                 <div class="input-group">
                                 <input type="email" class="form-control" placeholder="Enter Your email">
                                 <span class="input-group-btn">
                                 <button class="btn btn-danger" type="button">OK</button>
                                 </span>
                                 </div><!-- /input-group -->
                              </form>
                           </div>
                              <!--div class="modal-footer">
                                 <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                              </div-->
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="col-sm-6 col-md-6 col-lg-6">
                     <%if @product.availability %>
                        <span class="not-empty  center-block">&#10004;&nbsp;Item available</span>
                     <%else%>
                        <span class="not-empty  center-block">&#10004;&nbsp;Item not available </span>
                     <%end%>
                     <span id="myToolTip" data-placement="top" data-toggle="tooltip" title="Курєрська доставка"  class=" pull-left">Delivery time 1-2 day/s&nbsp;<i class="fa fa-truck"></i></span></br>

                     <button type="button" class="btn btn-success btn-buy">Buy item</button>

                     <button id="myPopover" data-toggle="popover" data-placement="bottom" title="Contact with us" data-content="The form with phone will be here..." type="button" class="btn btn-warning ">Instant Buy</button>
                  </div>
               </div>
            </div>
            <div class="clear"></div>
            <div class="tab-section">
               <ul class="nav nav-tabs ">
                  <li class="active"><a href="#tab1" data-toggle="tab">Full Description</a></li>
                  <li><a href="#tab2" data-toggle="tab">
Reviews</a></li>
               </ul>


         <div class="tab-content">
            <div class="clear"></div>
            <div class="tab-pane active" id="tab1">
              <p><%= @product.description %></p>
              <table class="table table-condensed">
                  <tr>
                  <td>Manufacturer</td>
                  
                  </tr> 
                  <tr>
                  <td>Material</td>
                  
                  </tr>
                  <tr>
                  <td>Sport type</td>
                  
                  </tr>
                  <td>Weight</td>
                  
                  </tr>
               </table>
            </div>
            <div class="tab-pane" id="tab2">
               <div class="clear"></div>
               <div class="blockquote">
                  <blockquote>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                     <footer>Customer: <cite title="Source Title">Sussy Jane</cite></footer>
                  </blockquote>
                  <blockquote>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                     <footer>Customer: <cite title="Source Title">Jackie Chan</cite></footer>
                  </blockquote>               
                  <blockquote>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                     <footer>Customer: <cite title="Source Title">John Travolta</cite></footer>
                  </blockquote>
               </div>
            </div>
         </div>
            </div>
         </div>

        <!-- Second block -->
        <div class="col-md-4 col-lg-4 inform-block">
          

         <%= render :partial => 'stores/accordion' %>
        </div>


      </div>
    </div>

    

      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <!--NAVIGATION TABS
          =======================-->

        <%= link_to("<< Back to List", {:action => 'index'}) %>
      </div>
       <!-- THIS IS FOOTER SIDE -->
    </div>
